<mat-card class="m-3 col-sm-6">
    <mat-card-content>
        <mat-form-field>
            <mat-label>mobile_no</mat-label>
            <input matInput [(ngModel)]="mobile_no" [disabled]="flag.verify">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="email" [disabled]="flag.verify">
        </mat-form-field>
        <mat-form-field *ngIf="flag.verify">
            <mat-label>Otp</mat-label>
            <input matInput [(ngModel)]="otp">
        </mat-form-field>
        <mat-form-field *ngIf="flag.changePassword">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field *ngIf="flag.changePassword">
            <mat-label>Confirm Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="confirm_password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button class="btn btn-secondary" (click)="verify(otp)" *ngIf="flag.verify" type="button">Verify</button>
        <button class="btn btn-info" (click)="request()" *ngIf="flag.request"> Request </button>
        <button class="btn btn-info" (click)="changePassword()" *ngIf="flag.changePassword">Update</button>
    </mat-card-actions>
</mat-card>