<div class="container-main">
    <div class="row">
        <div class="col-sm-6  col-xs-12">
            <div class="card   dashboard-widget-1">
                <div class="card-body"></div>
              </div>
              
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="card   dashboard-widget-2">
                <div class="card-body"></div>
              </div>
        </div>

        <div class="col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-sm-2 col-xs-12">
                    <div class="card   ">
                        <div class="card-body"></div>
                      </div>
                </div>
                <div class="col-sm-2 col-xs-12">
                    <div class="card   ">
                        <div class="card-body"></div>
                      </div>
                </div>
                <div class="col-sm-2 col-xs-12">
                    <div class="card   ">
                        <div class="card-body"></div>
                      </div>
                </div>
                <div class="col-sm-2 col-xs-12">
                    <div class="card   ">
                        <div class="card-body"></div>
                      </div>
                </div>
                <div class="col-sm-2 col-xs-12">
                    <div class="card   ">
                        <div class="card-body"></div>
                      </div>
                </div>
                <div class="col-sm-2 col-xs-12">
                    <div class="card   ">
                        <div class="card-body"></div>
                      </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-xs-12">
            <div class="card dashboard-widget-last-2">
                <div class="card-body"></div>
              </div>           
        </div>

        <div class="col-sm-6 col-xs-12">
            <div class="card dashboard-widget-last-1">
                <div class="card-body"></div>
              </div>    
        </div>
    </div>
</div>