$font-color: #fff;
$background-color:#eeeff4;

$color-primary: #01b1fc;
$color-secondary: #364363;
$color-secondary-dark: #28324d;
$color-white: #fff;
$color-gray: #f1f5ff;

$color-border: #e0e1e3;
$color-divider:#e0e1e3;

$text-color-base: #3a405b;
$text-color-light: #838691;


$space-xs: 7px;
$space-sm: 15px;
$space: 15px;
$space-md: 45px;
$space-lg: 60px;

$col-container-space: 15px;
$col-space-base: 10px;
$col-space-base-neg: -10px;

$col-space-sm: 20px;
$col-space: 15px;
$col-space-md: 60px;
$col-space-lg: 90px;


$text-xs: 12px;
$text-sm: 14px;
$text-base: 16px;
$text-md: 18px;
$text-lg: 20px;
$text-xlg: 24px;

$heading-1: 2.5rem;
$heading-2: 2rem;
$heading-3: 1.5rem;

$form-label-color: #757786;
$form-label-font-size: 16px;
$form-input-color: #3a405b;
$form-input-font-size: 16px;

$form-placeholder: #949494;
$form-border-color: #e0e1e3;
$form-input-bg: #f4f5f9;
$form-input-padding: 10px 15px;



$form-text-lg : 24px;

$card-header-space: 20px 15px 0 15px;
$card-body-space: 15px;
$card-footer-space: 0 15px 20px 15px;

